.temp-type-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  width: 32px;
  height: 32px;
  color: $dark-color;
  background-color: $light-color;
  border: 0.5px solid grey;
  font-weight: 500;
  font-size: 1.2rem;
  border-radius: 15px;
  top: 1.5%;
  right: 1%;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.location {
  font-size: 2rem;
  text-align: center;
}

.temp-data-row {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;

  .weather-icon img {
    height: 100px;
  }
}
