$dark-color: rgba(0, 0, 0, 0.729);
$light-color: rgba(255, 255, 255, 0.864);
$error-color: rgb(255, 139, 139);

@import "./components/scss/SearchBar";
@import "./components/scss/WeatherContainer";
@import "./components/scss/MainInfo";
@import "./components/scss/InfoItem";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 100%;
  min-height: 100%;
  font-family: "Roboto", sans-serif;
  background: url(./img/aral-tasher-sky.jpg) no-repeat center center fixed;
  background-size: cover;

  .App {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;

    .error-message {
      position: absolute;
      top: 45px;
      color: $error-color;
      border: 0.5px solid $error-color;
      background-color: $dark-color;
      padding: 10px;
      display: none;
    }
  }
}
